@import url(leaderboard-widget.css);
@import url(media-query.css);

:root{  /* collor pallete */
    --color-pallete-font-main: #f4f3ee;
    
    --color-pallete-acent-first: #0A81AB;
    --color-pallete-acent-second: #0094ef;
    
    --color-pallete-main-first: #222831;
    --color-pallete-main-second: #393E46;
}


*{color: var(--color-pallete-font-main);padding: 0;margin: 0;}
a{text-decoration: none;}

body{background:var(--color-pallete-acent-second);}
.wrapper{
    font-family: 'Flow Rounded', cursive;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-pallete-main-first);
}

.loaded{
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 768px) {
    .loaded{
        animation: loaded-min .5s linear;
    }
    @keyframes loaded-min {
        from{
            width: 0px;
            transform: translateX(-100%);
        }
        to{
            width:100vw;
            transform: translateX(0%);
        }
    }
}
@media only screen and (min-width: 769px){
    .loaded{
        animation: loaded-max .5s linear;
    }
    @keyframes loaded-max {
        from{
            width: 0px;
            margin-left: 50%;
        }
        to{
            width:100vw;
            margin-left: 0px;
        }
    }
}
/*!--------------------------------------*/

nav{
    width: 100%;
    height: 80px;
    background: var(--color-pallete-main-first);
    border-bottom: 3px solid var(--color-pallete-acent-second);
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-areas:
    "logo text";
    align-items: center;
    justify-items: center;
}

.logo{
    grid-area: logo;
    justify-self: start;
}

.logo-img{
    transition: transform 100ms ease-in-out;
    height: 60px;
    margin: 0 0 0 10px;
    transform: scale(1);
}

.logo-img:hover{
    transition: transform 100ms ease-in-out;
    transform: scale(1.2);
}

.tekst{
    justify-self: end;
    grid-area: text;
    width: 31rem;
}

a > h1{
    display: inline-block;
    transition: color 100ms ease-in-out;
    color: var(--color-pallete-acent-first);
    font-size: 1.8rem;
}

a > h1:hover{
    transition: color 100ms ease-in-out;
    color: var(--color-pallete-acent-second);
}

.tekst > h2{
    margin-left: 140px;
    display: inline-block;
    font-size: 20px;
}

/*!--------------------------------------*/

.main-content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "one video two";
    align-items: center;
    justify-items: center; 
}


.one { grid-area: one;}
.video { grid-area: video;}
.two { grid-area: two;}

.container-country-flag{
    position: relative;
    width: 200px;
    aspect-ratio: 4/3;
}
.container-country-flag > img{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: 15px;
}

.container-country-flag::before{
    content: attr(score);
    position: absolute;
    font-size: 5rem;
    transform:translateY(150%);
    text-align: center;
    width: 100%;
}

.container-country-flag::after{
    content: attr(country-name);
    height: 111px;
    font-size: 2.3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: default;
    position: absolute;
}

.one::after{transform:translate(calc(-50% - 22px))translateY(20%) !important;}
.two::after{transform:translate(calc(400% + 22px))translateY(20%) !important;}

.video {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video > iframe{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    border: none;
}

/*!--------------------------------------*/

footer{
    width: 100%;
    height: 60px;
    background: var(--color-pallete-main-first);
    border-top: 3px solid var(--color-pallete-acent-second);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p{margin-left: 30px;}

/*!-------------------------------------*/
@media only screen and (max-width: 768px) {
    .video              {border-radius: 0px;}
    .video > iframe     {border-radius: 0px;}

    .main-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "video video"
        "one two"
        ;
    }

    .container-country-flag{
        width: 160px;
    }

    
    
    .container-country-flag::after{
        position: absolute;
        font-size: 2.3rem;
        writing-mode:horizontal-tb;
        text-orientation: upright;
    }
    .one::after{transform:translate(calc(80px - 30.78px),-45.78px) !important;}
    .two::after{transform:translate(calc(80px - 30.78px),-45.78px) !important;}

    .container-country-flag::before{
        position: absolute;
        font-size: 5rem;
        transform:translateY(120px);
        text-align: center;
    }
    .leaderboard{
        width: 1200px;
        height: 950px;
        border-radius: 0;
        margin: 100px 0 0 0;
    }
    a > h1{
        font-size: 1.1rem
    }
    .tekst > h2{
        margin-left: 0 !important;
        font-size: 16px;
    }
    .tekst{
        grid-area: text;
        text-align: right;
        width: 80vw;
    }
    nav{
        grid-template-columns: .1fr 1fr;
    }
}